<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Cash Transaction')}"></head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container mt-4">
    <div class="col-md-8 col-lg-6 mx-auto">
        <form th:action="@{/portfolio-transactions/{id}/cashtransactions(id=${portfolio.getId()})}"
              th:object="${cashTransactionForm}"
              method="post">

            <div class="mb-2">
                <label class="col-4" for="transactionType">Choose Type</label>
                <select id="transactionType" th:field="*{transactionType}">
                    <option
                            th:each="trtype: ${transactionType}"
                            th:text="${trtype}"
                            th:value="${trtype}"
                    >
                    </option>
                </select>
            </div>

            <div class="mb-2">
                <label l class="col-4"  for="cashAmount">Amount in DKK</label>
                <input id="cashAmount" type="text" th:field="*{cashAmount}">
            </div>


            <div class="mb-2">
                <label class="col-4"  for="dateTime">Date</label>
                <input id="dateTime" type="datetime-local" th:field="*{dateTime}">
            </div>


            <button class="btn btn-primary mb-2" type="submit">Save transaction</button>

            <div th:if="${#fields.hasErrors('cashAmount')}" th:errors="*{cashAmount}"></div>
            <div th:if="${#fields.hasErrors('transactionType')}" th:errors="*{transactionType}"></div>
            <div th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"></div>

        </form>

    </div>
</main>
</body>
</html>