<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Home')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<hr/>
<main class="container mt-4">
    <div sec:authorize="isAuthenticated()">

        <div>
            <h2>List of Portfolios</h2>
            <hr>
            <ul>
                <li th:each="pf : ${portfolios}" class="d-flex gap-3 align-items-center mb-2" >
                    <span th:text="${pf.name}" class="col-2"></span>
                    <a class="btn btn-outline-primary btn-sm " th:href="@{/portfolio-transactions/{id}(id=${pf.getId()})}">Transaction Page</a>
                    <a class="btn btn-outline-primary btn-sm " th:href="@{/portfolio-detail/{id}(id=${pf.getId()})}">Overview Page</a>

                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/portfolio/new}" class="btn btn-primary">
                Create new portfolio
            </a>
        </div>
    </div>

    <div sec:authorize="isAnonymous()">
        <p>Not logged in</p>
    </div>
</main>
</body>
</html>